<!--<p>footer works!</p>-->
<section class="bg-dark fixed-bottom text-white">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center p-0">
          <p class="copy-c m-0">
            <i class="far fa-copyright"></i> Code Warriors <%= new Date().getFullYear();%>. All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</html>